bower@1.3.8
generator-angular@0.7.1
generator-karma@0.6.0
grunt@0.4.2
grunt-cli@0.1.11
grunt-karma@0.6.2
karma@0.10.9
karma-chrome-launcher@0.1.2
karma-coffee-preprocessor@0.1.2
karma-firefox-launcher@0.1.3
karma-html2js-preprocessor@0.1.0
karma-jasmine@0.1.5
karma-phantomjs-launcher@0.1.1
karma-requirejs@0.2.1
karma-script-launcher@0.1.0
phantomjs@1.9.2-6
requirejs@2.1.9
socket.io@0.9.16
yo@1.1.1
